{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Here is the items</h2>

    {% for product in all_products %}
    <h3><a href="/{{product.id}}/product">Individual item</a></h3>
        {{ product.title }}
        {{ product.price }}
        <a href="/{{product.id}}/add-to-cart" method= "POST" class="btn btn-primary">Add to cart</a>

        <form action="/{{product.id}}/add-to-cart" method="POST">
            {% csrf_token %}
            <select name="quantity">
                {% for num in quantity %}
                <option value="{{num}}">{{num}}</option>
                {% endfor %}
        </select>
        <input type="submit" value="buy now!">
        </form>
    {% endfor %}

</body>
</html>