<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <section>
      <div class="product">
        <img src="static/images/pro_club_hoodie.jpeg" alt="hoodie" height="450px"/>
        <div class="description">
          <h3>Pro Club Hoodie</h3>
          <h5>$29.99</h5>
        </div>
      </div>
    </div>
      <form action="/checkout" method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
    <section>
        <div class="product">
          <img src="static/images/pro_club_shirt.jpeg" alt="shirt" height="450px"/>
          <div class="description">
            <h3>Pro Club White T-Shirt</h3>
            <h5>$25.99</h5>
          </div>
        </div>
      </div>
        <form action="/checkout2" method="POST">
          {% csrf_token %}
          <button type="submit" id="checkout-button">Checkout</button>
        </form>
      </section>
  </body>
</html>