@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 30px;

}

.header-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 65px;
    font-weight: 900;
    box-shadow: 30px;
}

#quote {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 15px;
}

.cart-button {
    position: absolute;
    right: 85px;
    top: 60px;
}