* {
  margin: 0;
  padding: 0;
}


.products {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-item {
  flex: 1 0 21%; /* Adjust the percentage to control the number of items per row */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.product-images {
  width: 100%;
  height: 250px;
}

.product-info {
  padding: 10px;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
}

.cart-modal h2 {
  margin-top: 0;
}

.cart-modal ul {
  list-style: none;
  padding: 0;
}

.cart-modal li {
  margin-bottom: 10px;
}

.cart-modal button {
  margin-top: 20px;
}

.add-to-cart-button {
  font-size: 25px;
  padding: 4px;
  border-radius: 11px;
  border: none;
  margin-top: 4px;
  margin-bottom: 9px;
  background: red;
  color: white;
  transition: 0.5s;
  box-shadow: 5px 10px 10px black;
}

.add-to-cart-button:hover {
  background: green;
  color: white;
  transform: translateY(-8px);
}
